@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}
<div>
    <ul>
        <!-- todo -->
    </ul>
</div>
<div class="container">
    <div class="row">
        <section>
            <form class="form-horizontal" asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <label class="control-label form-label" asp-for="CurrentPassword"></label>
                    <div>
                        <input class="form-control form-input" asp-for="CurrentPassword" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label form-label" asp-for="NewPassword"></label>
                    <div>
                        <input class="form-control form-input" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Change</button>
                </div>
            </form>
        </section>
    </div>
</div>